<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Prophet | CSS Issue</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/print.css" media="print">
</head>
<body>
<div class="page-container">
    <header class="main-header">
        <img
            class="title"
            src="img/title.png"
            alt="Daily Prophet Title"
        />
    </header>
    <main class="main-container">
        <fieldset>
            <legend>Made with HTML & CSS</legend>
            <div class="wrapper">
                <section class="jokes-container">
                    <header class="jokes-header">
                        <h1>JOKES</h1>
                    </header>
                    <main class="jokes-body">
                        <div class="joke joke-1">
                            <header>
                                <h1>Ron and his favourite pet</h1>
                            </header>
                            <p>Why does Ron love his pet rat so much?<br/>
                                It’s the pet-he-grew up with!</p>
                        </div>
                        <div class="joke joke-2">
                            <header>
                                <h1>Hogwarts vs ITMO</h1>
                            </header>
                            <p>As a child, I read Harry Potter books and wondered how they couldn't properly learn all
                                the moves in the castle so as not to get lost. Then I went to ITMO....</p>
                        </div>
                        <div class="joke joke-3">
                            <header>
                                <h1>Harry's new wand</h1>
                            </header>
                            <p>'Well, it's time to make money', said Harry Potter and painted his wand with black and
                                white stripes.</p>
                        </div>
                        <div class="joke joke-4">
                            <header>
                                <h1>Voldemort's assassin: required</h1>
                            </header>
                            <p>
                                Harry goes to apply for a job. They ask him:<br/>
                                - What can you do?<br/>
                                - I can kill Voldemort.<br/>
                                - What else?<br/>
                                - I might not kill Voldemort.</p>
                        </div>
                        <div class="joke joke-5">
                            <header>
                                <h1>How to get to Dumbledore</h1>
                            </header>
                            <p>How does the Hogwarts headmaster get into his office?<br/>
                                Through a Dumble-door!</p>
                        </div>
                    </main>
                </section>
                <section class="headline-container">
                    <header class="headline-header">
                        <h1>THE BEAR WON THE HEARTS</h1>
                    </header>
                    <div class="headline-body">
                        <div class="normal-headline-text">
                            A bear that has no front paws has been living in the forests of West Virginia for eight
                            years. Scientists suggest that the absence of hind limbs is due to a congenital mutation.
                            Despite its limitations, the two-legged bear has mastered the tricks of survival and copes
                            well with difficulties.
                        </div>
                        <div class="headline-decoration-wrapper">
                            <img
                                class="headline-gif"
                                src="img/headline.gif"
                                alt="Headline Video"
                                width="356"
                                height="250"
                            />
                            <div class="rotated-headline-text">
                                Interestingly, the bear successfully competes with its fellows, proving that even in
                                difficult conditions it is possible to find ways to live. This unique animal is admired
                                and liked, showing the amazing power of nature.
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="secondary-news">
                <p>A real revolution is coming to the world of magic! Nimbus, the company known for its high-end brooms,
                    has released a long-awaited update - the Nimbus 3000. According to rumours, the novelty is capable
                    of reaching speeds of up to 300 km/h, making it one of the fastest models in history!<br/>
                    <br/>
                    Within the walls of Hogwarts, a debate has already raged: should we change the proven Nimbus 2000
                    for the revolutionary Nimbus 3000? On the one hand, the new model promises incredible speed and
                    manoeuvrability. On the other hand, the Nimbus 2000 has earned a reputation as a reliable and
                    time-tested broom that has served many generations of wizards.</p>
                <img
                    class="nimbus-photo"
                    src="img/nimbus.webp"
                    alt="Nimbus 300"
                    width="1024"
                    height="1024"
                />
            </section>
            <footer>
                <section class="fine-words">
                    <img
                        class="pointing-hand"
                        src="img/hand.png"
                        alt="Pointing Hand"
                        width="1280"
                        height="654"
                    />
                    <p>EVERYTHING WILL BE FINE</p>
                </section>
                <section class="weather">
                    <h2>Today's Weather:</h2>
                    <ul>
                        <li>Morning: +8&deg;C</li>
                        <li>Evening: +9&deg;C</li>
                        <li>Afternoon: +12&deg;C</li>
                        <li>Night: +2&deg;C</li>
                    </ul>
                </section>
                <section class="wheel">
                    <img
                        class="zodiac-wheel"
                        src="img/zodiac.png"
                        alt="Zodiac Wheel"
                        width="1280"
                        height="1280"
                    />
                </section>
            </footer>
        </fieldset>
    </main>
</div>
</body>
</html>
