[Unit]
Description=Counter Frontend
Wants=network-pre.target
After=network-pre.target nginx.service

[Service]
ExecStart=/usr/bin/nodejs /opt/counter/server.js

Restart=on-failure

[Install]
WantedBy=multi-user.target
